// COLORS
$color-black: #111;
$color-white: #fff;
$color-gray: #ccc;
$color-gray-light: #f0f0f0;

// FONTS
$base-line-height: 1.6;
$base-font-size: 1.6rem;
$font-family: 'Poppins', sans-serif;

// SIZES
$space-xs: 0.5rem;
$space-s: 1rem;
$space-m: 2rem;
$space-l: 4rem;
$space-xl: 6rem;
$space-xxl: 12rem;
