* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

img {
  pointer-events: none;
}

input,
textarea,
button {
  font-family: $font-family;
}

html {
  font-size: 62.5%; // 1px = 0.1rem
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $font-family;
  font-weight: 400;
}

#app {
  display: grid;
  grid-template-rows: 7rem 1fr max-content;
}

.container {
  display: grid;
}
