* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

html {
  font-size: 62.5%; // 1px = 0.1rem
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}
